{% extends "accounts/base.html" %}
{% load i18n %}

<!--Block Header-->
{% block head_title %} {% translate "Welcome" %} {% endblock head_title %}

{% block navBar %}
  {% include 'includes/navbar.html' %}
{% endblock %}

<!--Block content-->
{% block content %}
  <div class="container">
    <div class="jumbotron mt-4">
      <legend class="mt-3" align="left">List of Users.</legend>
      <table class="table table-striped table-bordered">
        <tr>
          <thead class="text-white" style="background-color: #02474c">
            <th>#</th>
            <th>Email address</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>Role</th>
            <th>Date joined</th>
            <th>Active</th>
            <th>Superuser</th>
          </thead>
        </tr>
        {% if users %}
          {% for user in users %}
            <tr>
              <td>{{ forloop.counter }}.</td>
              <td>{{ user.email }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.phone_no }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.timestamp }}</td>
              <td>
                {% if user.is_active %}
                  <i class="fa fa-check fa-lg text-success"></i>
                {% else %}
                  <i class="fa fa-times fa-lg text-danger"></i>
                {% endif %}
              </td>
              <td>
                {% if user.is_superuser or user.role == "SUPERUSER" %}
                  <i class="fa fa-check fa-lg text-success"></i>
                {% else %}
                  <i class="fa fa-times fa-lg text-danger"></i>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <!-- Display an empty row if there are no users -->
          <tr>
            <td colspan="8">No users available</td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>
{% endblock content %}
