{% extends "accounts/base.html" %} {% load i18n %} {% load crispy_forms_tags %}

<!--Block Header-->
{% block head_title %} {% translate "Sign In" %} {% endblock head_title %}

<!--Block Content-->
{% block content %}
<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-4 mt-5">
      <div class="card shadow-md mt-5">
        <div class="card-header text-center" style="background-color: #02474c">
          <legend style="color: #ffffff">Welcome Back,</legend>
          <h6 style="color: #ffffff">sign in to continue</h6>
        </div>

        <div class="card-body">
          <form
            method="POST"
            action="{% url 'accounts:login' %}"
            enctype="multipart/form-data"
          >
            {%csrf_token%} {{form|crispy}}
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="form2Example31"
                    checked
                  />
                  <label class="form-check-label" for="form2Example31">
                    Remember me
                  </label>
                </div>
              </div>

              <div class="col">
                <!-- Simple link -->
                <a href="{%url 'accounts:password_reset'%}">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button
              type="submit"
              class="btn btn-outline-primary col-md-12 btn-block mb-4"
            >
              Sign in
            </button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>
                Don't have an account?
                <a href="{%url 'accounts:signup'%}">Register Here</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
